.Header {
    color: white;
    padding : 150px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://lh3.googleusercontent.com/-deeuFsl-8qxP5d3WIT6WEqrSM9cjKryxllfy83m9TocxHyHC6OfUnm36iudj8HVJvI=w1264);
    background-size: 100% 100%;
}

.scoreBoard{
    margin-right: 25px;
    color: black;
    font-family: Rock Salt, cursive;
    display: inline-block;
    margin: auto 150px;
}

.Message{
    border-bottom: 1px solid black;
    background-color: black;
    color: white;
}
